body {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #000000;
    color: #183C63;
    text-align: center;
    max-width: 800px;
}

